{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "Creep": false,
    "ERR_NOT_IN_RANGE": false,
    "Game": false,
    "Structure": false,
    "StructureContainer": false,
    "StructureExtension": false,
    "StructureStorage": false,
    "MOVE": false,
    "CARRY": false,
    "FIND_MY_CREEPS": false,
    "_": false,
    "FIND_DROPPED_RESOURCES": false,
    "FIND_HOSTILE_CREEPS": false,
    "FIND_MY_CONSTRUCTION_SITES": false,
    "FIND_MY_SPAWNS": false,
    "FIND_MY_STRUCTURES": false,
    "FIND_SOURCES": false,
    "FIND_SOURCES_ACTIVE": false,
    "FIND_STRUCTURES": false,
    "HEAL": false,
    "RANGED_ATTACK": false,
    "RESOURCE_ENERGY": false,
    "STRUCTURE_CONTAINER": false,
    "STRUCTURE_EXTENSION": false,
    "STRUCTURE_ROAD": false,
    "STRUCTURE_STORAGE": false,
    "STRUCTURE_TOWER": false,
    "STRUCTURE_WALL": false,
    "TOUGH": false,
    "WORK": false,
    "Memory": false,
  },
  "rules": {
  }
}
